// Font Stacks
$font-family--primary   : 'sofia-pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Colors
$white          : #ffffff;
$dark           : #0d0d0d;
$black          : #1e1e1e;
$gray           : #626262;
$gray-light     : #f4f4f4;
$cream          : #f9f9fb;
